{% extends 'base.html.twig' %}
{% block body %}

    <div id="chart"></div>
    <div>
        <button id="stat-start">Statistics Start</button>
        <button id="stat-stop" disabled="true">Statistics Stop</button>
        <br>
        <button id="send-messages">Send Generated Messages</button>
        <br>
        <button id="process-messages">Process Messages</button>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

          var chart;

          function drawChart() {

            var headRow =  [['Time', 'Queue Length']];
            var dataRows = [["1",0],["2",0],["3",0],["4",0],["5",0]];

            //dataRows.unshift(headRow);

            var data = google.visualization.arrayToDataTable(headRow.concat(dataRows));

              console.log("headRow:",headRow);

              var options = {
                title: 'RabbitMQ Queue stats',
                //curveType: 'function',
                legend: { position: 'bottom' }
            };

            chart = new google.visualization.LineChart(document.getElementById('chart'));

            chart.draw(data, options);

            document.addEventListener("chart-renew",function(e){

                let passedValue = e.detail;
                let date = new Date();
                let currTime = new Date(date.getTime() - (date.getTimezoneOffset() * 60000)).toISOString().slice(11,19);

                dataRows.shift();
                dataRows.push([currTime, passedValue]);

                var data = google.visualization.arrayToDataTable(headRow.concat(dataRows));

                chart.draw(data, options);
            });
        }

    </script>

    <script>

        (function() {

            var statStartEl = document.querySelector("#stat-start");
            var statStopEl = document.querySelector("#stat-stop");
            var sendMessagesEl = document.querySelector("#send-messages");
            var processMessagesEl = document.querySelector("#process-messages");

            let getStatState = 0;

            function fetchStat() {
                let url = 'http://localhost:8080/api/queue-stat/ppm-parse';

                if (!getStatState) {
                    return;
                }

                fetch(url)
                    .then(response => response.json())
                    .then(json => { console.log(json.queue_info);var event = new CustomEvent('chart-renew', { 'detail': parseInt(json.queue_info.messages) }); document.dispatchEvent(event); })
                    .then(fetchStat);
            };

            function sendMessages(){
                let url = "http://localhost:8080/api/queue-generate-msg/5";

                sendMessagesEl.disabled = true;
                fetch(url).then( ()=>sendMessagesEl.disabled = false );
            }

            function processMessages(){
                let url = "http://localhost:8080/api/queue-process-msg/5";

                processMessagesEl.disabled = true;
                fetch(url).then( ()=>processMessagesEl.disabled = false );
            }

            statStartEl.addEventListener("click", function () {
                getStatState = 1;
                fetchStat();

                this.disabled = true;
                statStopEl.disabled = false;
            });

            statStopEl.addEventListener("click", function () {
                getStatState = 0;
                this.disabled = true;
                statStartEl.disabled = false;
            });

            sendMessagesEl.addEventListener("click", sendMessages);

            processMessagesEl.addEventListener("click", processMessages);

    })();


    </script>
{% endblock %}